body {
    font-family: Verdana, helvetica, sans-serif;
    margin: 0;
}

p {
    margin: 5px;
    line-height: 19px;
    text-align: justify;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    text-shadow: 1px 1px 0px #e1e1e8;
    margin: 4px 10px 4px 1px;
    display: inline-block;
}

h2 {
    font-size: 15px;
    color: #444;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-left: 10px;
    margin: 0;
    background: #eee;
    -moz-box-shadow:    0 1px 5px 0 #ccc;
    -webkit-box-shadow: 0 1px 5px 0 #ccc;
    box-shadow:         0 1px 5px 0 #ccc;
}

#footer {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    font-size: 10px;
    border-top: 1px solid #aaa;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 3px;
    margin: 0;
    color: #222;
    background: #eee;
}

a:link { 
    color: #004080;
    text-decoration: none;
}

a:visited { 
    color: #004080;
}

a:hover { 
    text-decoration: underline;
}

.toolbar-item {
    position: relative;
    bottom: 2px;
    font-size: 14px;
    color: #aaa;
    margin-left: 4px;
    margin-bottom: 3px;
    padding: 1px 5px 2px 5px;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.toolbar-item.enabled {
    color: #333;
    cursor: pointer;
}

.toolbar-item.selected {
    background: #bbb;
}

.toolbar-item.enabled:hover {
    text-decoration: underline;
}

.page-content {
    font-size: 13px;
    margin-top: 38px;
}

.io-box {
    font-family: Fixed, "Courier New", monospace;
    padding: 3px 10px 24px 10px;
}

.button{
    font-size: 15px;
    padding: 4px 10px 4px 10px;
}

.content-area {
    margin: 10px;
}

textarea {
    width: 100%;
    height: 300px;
    border: 1px #888 solid;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    resize: vertical;
    outline: none;
}

#svg-code-container {
    position: absolute;
    top: 34px;
    bottom: 20px;
    left: 10px;
    right: 325px;
}

#svg-tree {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    resize: horizontal;
}

#element-analysis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 220px;
    overflow: auto;
    padding: 8px 10px 24px 10px;
}

#breadcrumbs span {
    background: #ccc;
    margin: 3px;
    padding: 0 7px 2px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#svg-image-container {
    position: absolute;
    top: 34px;
    right: 2px;
}

tr:hover {
    cursor: pointer;
    background: #ddd;
}

.svg-image {
    width: 320px;
    height: 320px;
    border: 1px #565752 solid;
    margin-top: 1px;
}

.svg-child-element {
    margin-left: 16px;
}

.svg-element-div:hover {
    cursor: pointer;
}

.svg-element-div.selected, .svg-element-div.highlight {
    background: #ddd;
}